<%= form_with(model: divesite, local: true) do |form| %>
  <% if divesite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(divesite.errors.count, "error") %> prohibited this divesite from being saved:</h2>

      <ul>
      <% divesite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>



  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :service %>
    <%= form.text_field :service %>
  </div>

  <div class="field">
    <%= form.label :discription %>
    <%= form.text_area :discription %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
