

<h1>Divesites</h1>

<table>
  <thead>
    <tr>
      <th>Area</th>
      <th>Zone</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Service</th>
      <th>Discription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @divesites.each do |divesite| %>
      <tr>
        <td><%= divesite.location.area %></td>
        <td><%= divesite.location.zone %></td>
        <td><%= divesite.name %></td>
        <td><%= divesite.address %></td>
        <td><%= divesite.phone %></td>
        <td><%= divesite.service %></td>
        <td><%= divesite.discription %></td>
        <td><%= link_to 'Show', divesite %></td>
        <td><%= link_to 'Edit', edit_divesite_path(divesite) %></td>
        <td><%= link_to 'Destroy', divesite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Divesite', new_divesite_path %>
