<div class="">
  <% if @divesite.present? %>
    <p><%= "#{Date.current}の#{@divesite.name}の海況を投稿しよう!" %></p>
    <div id="post_form">
      <%= form_with model: post, url: posts_path, local: true do |form| %>

        <div class="field">
          <%= form.hidden_field :divesite_id, value: @divesite.id %>
        </div>

        <div class="field">
          <%= form.label :divepoint %>
          <%= form.text_field :divepoint %>
        </div>

        <div class="field">
          <%= form.label :status %>
          <%= form.radio_button :status, :open, checked: true %>
          <%= form.label :status, "OPEN", class: "status_label" %>
          <%= form.radio_button :status, :close %>
          <%= form.label :status, "CLOSE", class: "status_label" %>
          <%= form.radio_button :status, :caution %>
          <%= form.label :status, "潜水注意", class: "status_label" %>
        </div>

        <div class="field">
          <%= form.label :temp %>
          <%= form.number_field :temp, value: "25" %><span> ℃</span>
        </div>

        <div class="field">
          <%= form.label :visibility %>
          <%= form.number_field :visibility, value: "10" %><span> m</span>
        </div>

        <div class="field">
          <%= form.label :content %>
          <%= form.text_area :content %>
        </div>

        <div class="field">
          <%= form.label :image %>
          <%= form.text_area :image %>
        </div>

        <div class="field">
          <%= form.label :video %>
          <%= form.text_area :video %>
        </div>

        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="set_divesite">上記のボタンでダイビングサイトを選ぶと、海況の投稿フォームが下記に表示されます</p>
  <% end %>
</div>
