<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">

    <div class="form-check form-check-inline">
      <%= form.label :area %>
      <%= form.collection_radio_buttons :area, Area.options_for_area, :first, :last do |b| %>
        <%= b.radio_button(class: 'form-check-input') + b.text %>
      <% end %>
    </div>
    <div class="form-check form-check-inline">
      <%= form.label :zone %><br>
      <%= form.collection_radio_buttons :zone, Zone.options_for_zone, :first, :last do |b| %>
        <%= b.radio_button + b.label(class: 'form-check-input') %>
      <% end %>
    </div>
  </div>

  <div class="form-check form-check-inline">
    <%= form.label :divesite %><br>
    <%= form.collection_radio_buttons(:divesite_ids, Divesite.all, :id, :name) do |ds| %>
      <div class="form-check-label">
        <%= ds.label { ds.radio_button + ds.text } %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
